<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
  <div class="alert alert-info">
    <strong><%= pluralize(@product.errors.count, "error") %>:</strong>
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="form-group">
    <%= f.label :company %><br>

    <% if @companies %>
      <%= f.select :company_id, options_for_select(@companies.collect { |company|
      [company.name.titleize, company.id] }, 1), {}, { id: 'companies_select' } %>
    <% else %>
      No companies defined. Please create companies first before assigning them to products.
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <input type="submit" value="Submit" class="btn btn-success" />
  <%= link_to 'Back', products_path, class: 'btn btn' %>

<% end %>

