<div class="row">
  <h2>Product listing
    <% if can? :create, Product %>
     <%= link_to 'Add new product', new_product_path, class: 'btn btn-success' %>
    <% end %>
  </h2>
</div>

<div class="product-listing">
  <% @products.each do |p| %>
    <div class="row">
      <div class="row">
        <h3><%= link_to p.name, product_path(p) %>
        <% if can? :update, p %>
        <%= link_to 'Edit', edit_product_path(p), class: 'btn btn-sm btn-warning' %>
        <% end %>
        <% if can? :destroy, p %>
        <%= link_to 'Delete', product_path(p), class: 'btn btn-sm btn-danger',
            method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </h3>
      </div>
      <p><%= p.description %></p>
    </div>
  <% end %>
</div>

<p><strong>Emotions:</strong>
  <ul class="nav nav-pills">
    <%= render @tag_counts.sort_by { |t| [-t.count, t.name] } %>
  </ul>
</p>

