<h1>Listing products</h1>

<% if can? :create, Product %>
  <%= link_to 'New product', new_product_path %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @products.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.description %></td>
      <td><%= link_to 'Show', product_path(p) %></td>
      <% if can? :update, p %>
        <td><%= link_to 'Edit', edit_product_path(p) %></td>
      <% end %>
      <% if can? :destroy, p %>
        <td><%= link_to 'Destroy', product_path(p),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><strong>Tags:</strong>
  <ul>
    <%= render @tag_counts.sort_by { |t| [-t.count, t.name] } %>
  </ul>
</p>

