<%= link_to 'Back to product listing', products_path %>

<div class="product-listing">
  <div class="row">
    <h3>
      <%= @product.name %>
      <% if can? :update, @product %>
        <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-sm btn-warning" %>
      <% end %>
      
    </h3>
    <p><%= @product.description %></p>
  </div>

<p>
  <strong>Emotions:</strong>
  <ul class="nav nav-pills">
    <%= render @tag_counts.sort_by { |t| [-t.count, t.name] } %>
  </ul>
</p>


<div class="row">
  <h3>Reviews</h3>
</div>
<%= render @product.reviews %>


<% if can? :create, Review %>
  <h4>Add a review:</h4>
  <%= render "reviews/form" %>
<% else %>
  <p><%= link_to 'Login', new_user_session_path %> to add a review</p>
<% end %>

</div>