<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<h2>Reviews</h2>
<%= render @product.reviews %>

<h2>Add a review:</h2>
<%= render "reviews/form" %>

<%= link_to 'Back', products_path %>
| <%= link_to 'Edit', edit_product_path(@product) %>
