<!DOCTYPE html>
<html>
<head>
  <title>EmotionReviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1>Emotion Reviews</h1>
        <p>Real product reviews based on real human emotions.</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <% if user_signed_in? %>
        <p>
          Logged in as <strong><%= current_user.email %></strong>.
        </p>
        <p>
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </p>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</div>
</body>
</html>
